@model Repository.ViewModels.LoginViewModel

<h2>Вход в приложение</h2>

<form method="post">
  <div class="row justify-content-around">
    <div class="col-md-8">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>
      <div class="row justify-content-between px-3">

        <div class="custom-control custom-checkbox">
          <input type="checkbox"
                 class="custom-control-input"
                 asp-for="@Model.RememberMe">
          <label class="custom-control-label"
                 asp-for="@Model.RememberMe">
            Запомнить меня?
          </label>
        </div>
        <a asp-controller="Account" asp-action="ForgotPassword">Забыли пароль?</a>

      </div>
      @* <div class="col-md-6 j"> *@
      <button type="submit" class="btn btn-primary mt-3">Войти</button>
      @* </div> *@
      @* <div class="col-md-6"> *@
      @* </div> *@

    </div>
  </div>

</form>