@{
    ViewData["Title"] = "Home Page";
}


@{
    System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
}
@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
 
    <button class="btn btn-primary" asp-controller="Account" asp-action="Logout">Выход</button>
    
    
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
