@model IEnumerable<Repository.Models.DatabaseModels.User>
@{
  ViewBag.Title = "Список пользователей";
}
<h1>Список пользователей</h1>

<table class="table mt-3">
  <tr>
    <th>Подтверждён</th><th>Email</th><th></th>
  </tr>
  @foreach (var user in Model)
  {
    <tr>
      <td>
        @if(user.EmailConfirmed){<p class="text-success">Да</p>}
        else{<p class="text-danger">Нет</p>}
      </td>
      <td>@user.Email</td>
      <td>
      <div class="row">
        <div class="col-md-4">
          <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@user.Id">
            Удалить
          </a>
        </div>  
        <div class="col-md-4">
          <a class="btn btn-outline-warning m-1" asp-action="Edit" asp-route-id="@user.Id">Изменить данные</a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-outline-warning m-1" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">
            Права доступа
          </a>
        </div>
      </div>
    </tr>
  }
</table>