@model System.Collections.Generic.List<Repository.Models.DatabaseModels.FileModel>

@{
  ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Files" method="post" enctype="multipart/form-data">
  <input type="file" name="uploadedFile"/>
  <br>
  <br>
  <input type="submit" value="Загрузить"/>
</form>
<br>
<h3>Все файлы</h3>
@foreach (var f in Model)
{
  <p>
    @f.Name --- @f.FilePath
  </p>
}